/* ----- Base Styles ---- */

header {
  background-color: #202322;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ---- Mobile Styles ----*/

/* ---- Header ---- */
.content-wrapper {
  width: 90%;
}
.app-header {
  background: url('../assets/header-image.jpg') center no-repeat #333;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  max-width: 100%;
}
.app-header-title {
  font-size: 2.25em;
  color: #5c4b44;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

/* ---- Main Content ---- */
.card {
  background-color: #7b9c72;
}
.card-body {

}
.card-title {

}
.card-text {

}
