/* ----- Base Styles ---- */

header {
  background-color: #202322;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ---- Mobile Styles ----*/

/* ---- Header ---- */
.content-wrapper {
  width: 90%;
}
.app-header {
  background: url('../assets/header-image.jpg') center no-repeat #333;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  max-width: 100%;
}
.app-header-title {
  font-size: 2.25em;
  color: #5c4b44;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

/* ---- Main Content ---- */
main {
  display: flex;
  flex-flow: row wrap;
}

.cards {
  display: flex;
  flex-flow: column wrap;
}
.card {
  background-color: #7b9c72;
  flex: 1 0 24%;
  box-sizing: border-box;
  margin: 1rem .25em;
}
.card-img-top {
  border-radius: 5px 5px 0 0;
}

/* Sidebar */
.sidebar {
  background-color: #bcb3a4;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h4 {
  color: #ffffff;
  margin-top: 1em;
}

.tags {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  display: flex;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  -webkit-transition: color 0.2s;
}

/* ---- Tablet Styles ---- */
@media only screen and (min-width: 760px) {
  .cards {
    align-items: stretch;
    flex-flow: row wrap;
  }
  .card {
    flex: 0 1 calc(40% - 1em);
  }

}

/* ---- Desktop Styles ---- */
@media only screen and (min-width: 1200px) {
  .cards {
    flex-flow: row wrap;
  }
  .card {
    flex: 0 1 calc(25% - 1em);
  }

  .main {
    flex: 1;
    align-items: center;
  }
  .sidebar {
    width: 25%;
    height: 25%;
    margin-top: 2em;
    margin-right: 1em;
  }
}
